{{>header}}

<div style="padding: 40px; max-width: 800px; margin: 0 auto; font-family: sans-serif; line-height: 1.6;">
    <h2 style="text-align: center;">👨‍💻 개발자 소개</h2>

    <div style="margin-top: 20px; background: #f4f4f4; padding:15px; border-radius: 8px;">
        <p><strong>이름:</strong> 강민찬</p>
        <p><strong>학교:</strong> 서울과학기술대학교</p>
        <p><strong>전공:</strong> 컴퓨터공학과</p>
        <p><strong>이메일:</strong><a href="mailto:gangminchan5@gmail.com">gangminchan5@gmail.com</a></p>


    </div>
    <div style="margin-top: 30px;">
        <h3>🪖 군 경력</h3>
        <p><strong>복무 부대:</strong> 제31보병사단 정보통신대대</p>
        <p><strong>계급 및 복무 형태:</strong> 병장, 만기 전역</p>
        <p><strong>주요 업무:</strong></p>
        <ul>
            <li>C4I(ATCIS) 체계 운용 (대한민국 육군 전술 지휘통제 통신체계)</li>
            <li>제31보병사단 전술서버 운용</li>
            <li>제31보병사단 전술DB 관리 및 유지보수</li>
            <li>NAC(Network Access Control) 시스템 운용 및 보안 정책 관리</li>
            <li>제31보병사단 웹홈페이지 유지보수</li>
        </ul>
    </div>


    <div style="margin-top: 30px;">
        <h3>💡 개발 동기</h3>
        <p>
            UNIX 시스템 수업을 듣던 중, 저만의 홈페이지를 만들어 클라우드 서버에 배포해보면 재밌을 것 같다는 생각을 하게 됬습니다.
            그래서 제가 가지고 있는 웹프로그래밍 지식과 서버 및 DB 운용 경험을 활용하여 이 프로젝트를 시작하게 되었습니다.
            이 웹 서비스는 Java Spring Boot 기반으로 개발되었으며 사용자의 계정정보, 명령어 실행 기록 등은 JPA를 사용하여 PostgreSQL에 저장됩니다.
            저한테 궁금한점이 있으신 분들은 제 이메일로 연락해주세요~
        </p>
    </div>

    <div style="margin-top: 30px;">
        <h3>🔧 사용 기술</h3>

        <p><strong>백엔드 & 프레임워크</strong></p>
        <ul>
            <li>Java, Spring Boot, Spring Security, JPA</li>
        </ul>

        <p><strong>프론트엔드</strong></p>
        <ul>
            <li>HTML, CSS, JavaScript, Mustache, Thymeleaf, Chart.js</li>
        </ul>

        <p><strong>데이터베이스</strong></p>
        <ul>
            <li>PostgreSQL</li>
        </ul>

        <p><strong>인프라 / 운영환경</strong></p>
        <ul>
            <li>AWS EC2, S3, RDS</li>
            <li>Docker, Kubernetes</li>
        </ul>

        <p><strong>개발 도구</strong></p>
        <ul>
            <li>IntelliJ IDEA, Git, GitHub, Gradle</li>
        </ul>
    </div>
    <div style="margin-top: 30px;">
        <h3>🎨 디자인 및 템플릿</h3>
        <p>
            이 플랫폼의 UI는
            <a href="https://getbootstrap.com/docs/5.0/examples/starter-template/" target="_blank" style="color:#2980b9; font-weight:bold;">
                Bootstrap Starter Template
            </a> 오픈소스를 참고해서 제작하였고,<br>
            <strong>Mustache</strong> 템플릿 엔진과 <strong>CSS</strong>를 커스터마이징해서 사용자들에게 친숙한 UX를 구현하도록 노력했습니다.
        </p>
    </div>



    <div style="text-align:center; margin-top:40px;">
        <a href="/seoultech/home" style="text-decoration:none; background:#3498db; color:white; padding:10px 20px; border-radius:8px;">🏠 홈으로 돌아가기</a>
    </div>
</div>

{{>footer}}
